//sources
link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

script(src="//code.jquery.com/jquery-1.11.0.min.js")
script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js')
script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular-sanitize.js")
script(src="/javascripts/ui-bootstrap-0.11.0.js" type="text/javascript") //stocké en local
script(src="/socket.io/socket.io.js")
script(type="text/javascript" src="/javascripts/moment.min.js")
//Snowfall
script(src="/javascripts/snowfall.jquery.js")
//TOASTR
script(src= '/javascripts/toastr.min.js')
link(href="/stylesheets/toastr.min.css" type="text/css" rel="stylesheet")
//ENCRYPT
script(src="/javascripts/gibberish-aes.js" typ="text/javascript")
//Controller && CSS
script(type="text/javascript" src="/javascripts/client.js")
link(rel='stylesheet', href='/stylesheets/style.css')

if(isMobile)
  include layout.jade
else
  include dev.jade