extends conditional_layout

block content

  div(id="chat")
    .row(ng-show="!pseudo.show")
      label(ng-click="collapse.isCollapsed = !collapse.isCollapsed" ) Les loulouuuuuus
      img.pull-right.uiCtrl(ng-src="{{notif.img}}" ng-click="notif.click()")
      img.pull-right.uiCtrl(ng-src="{{sound.img}}" ng-click="sound.click()")
    //for logining
    form.container(ng-if="pseudo.show")
      h4 The chatator
      br
      .row
        .col-sm-4
          div.form-group.has-feedback.full-width
            input.form-control(type="text" id="pseudo-name" ng-model="pseudo.name" placeholder="Your name ...")
            span.glyphicon.form-control-feedback.hide.full-width
        .col-sm-4
          div.form-group.has-feedback.full-width
            input.form-control(type="password" ng-model="pseudo.password" id="password" placeholder="Your password ...")
            span.glyphicon.form-control-feedback.hide.full-width
        .col-sm-2
          div.form-group.has-feedback.full-width
            input.form-control(type="password" ng-model="message.keyP" id="password" placeholder="Encryption key")
            span.glyphicon.form-control-feedback.hide.full-width
        .col-sm-2
          button.btn.btn-default(ng-click="pseudo.checkPwd()" ng-disabled="!pseudo.canSubmit()") Go!
          button.btn.btn-default.pull-right(ng-click="page.go('/account')") Changer 

    //for chatting
    div(ng-if="!pseudo.show" collapse="collapse.isCollapsed")
      p Your pseudo: {{pseudo.pseudo}}
      form.form-group.row
        .col-sm-9
          textarea.form-control(id="txtArea" ng-keydown="message.sendKey($event)" ng-model="message.content" ng-focus="page.hasFocus()" placeholder="Votre message..." row="2" autofocus autocomplete="off")
        .col-sm-3
          button.btn.btn-default.pull-right(ng-click="message.send()") Envoyer!
          p {{users.toShow}}
      //the messages are displayed here
      .row
        .col-sm-9
          table.table-condensed(id="zone_chat")
            tbody
              tr(ng-repeat='msg in message.list | reverse | limitTo:message.count ')
                td.small {{message.getDate(msg.date)}} 
                td
                  strong(ng-class="msg.from_class") {{msg.from}}
                td
                  div(ng-bind-html="msg.content" ng-class="msg.css_class")
        .col-sm-3(ng-show="link.show()")
          table.table-condensed
            tbody
              tr(ng-repeat='lk in link.list | reverse | limitTo:link.count ')
                td
                  p(ng-class="lk.from_class") {{lk.from}}
                td
                  div(ng-bind-html="lk.content" ng-class="lk.css_class")
          br
          br
  br
  br
  br
  br