doctype html
html(ng-app="newUser" ng-controller='newUserController')
  head
  
  body
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js')
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular-sanitize.js")
    script(src="/javascripts/ui-bootstrap-0.11.0.js" type="text/javascript") //stocké en local
    script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js")
    script(src="/socket.io/socket.io.js")
    //TOASTR
    script(src= 'https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.3/js/toastr.min.js')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.3/css/toastr.min.css" type="text/css" rel="stylesheet")

    //Controller && CSS
    script(type="text/javascript" src="/javascripts/newUser.js")
    link(rel='stylesheet', href='/stylesheets/account.css')
    .container
      h4 Page de création d'un compte
      //for logining
      br
      form(ng-if="pseudo.show")
        .row
          .col-sm-2
            label Name
          .col-sm-3
            label Password
          .col-sm-3
            label Confirm
          .col-sm-2
            label Pseudo
        .row
          .col-sm-2
            div.form-group.has-feedback.full-width
              input.form-control(type="text" id="pseudo-name" ng-model="pseudo.name" placeholder="Your first name ...")
              span.glyphicon.form-control-feedback.hide.full-width
          .col-sm-3
            div.form-group.has-feedback.full-width
              input.form-control(type="password" ng-model="pseudo.password1" id="password1" placeholder="Your password ...")
              span.glyphicon.form-control-feedback.hide.full-width
          .col-sm-3
            div.form-group.has-feedback.full-width
              input.form-control(type="password" ng-model="pseudo.password2" id="password2" placeholder="Your password ...")
              span.glyphicon.form-control-feedback.hide.full-width
          .col-sm-2
            div.form-group.has-feedback.full-width
              input.form-control(type="text" ng-model="pseudo.pseudo" id="pseudo" placeholder="Your pseudo ...")
              span.glyphicon.form-control-feedback.hide.full-width
          .col-sm-2
            button.btn.btn-default.pull-right(ng-click="pseudo.valid()" ng-disabled="!pseudo.canSubmit()") Go!


      //for chatting
      div(ng-if="!pseudo.show")
        p 
          | Ton compte est maintenant créé. Pour te connecter au chat il suffit d'aller sur 
          a(href="/m") cette page 
          | et d'utiliser ton login: "{{pseudo.name}}" et ton mot de passe "{{pseudo.password1}}".
        br
        button.btn.btn-primary(ng-click="page.go('/m')") Aller au chat
      br
      br
      br
      br